<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.androidisland.easypermission">

    <application>
        <activity
            android:name="com.androidisland.easypermission.RuntimePermissionActivity"
            android:theme="@style/EasyPermissionTheme.Transparent" />
    </application>

</manifest>
